= render 'shared/monoheader'
.login-content
  .login-content__selection
    .login-content__selection__head
      .login-content__selection__head__text アカウントをお持ちでない方はこちら
      = link_to users_path,class:'login-content__selection__head__signup' do
        .login-content__selection__signup__text 新規会員登録
    .login-content__selection__space
      .login-content__selection__space__sns
        = link_to user_facebook_omniauth_authorize_path, method: :post,class:'login-content__selection__space__sns__facebook' do
          = fa_icon "facebook-square",class:'login-content__selection__space__sns__facebook__icon'
          .login-content__selection__space__sns__facebook__text Facebookでログイン
        = link_to user_google_oauth2_omniauth_authorize_path, method: :post,class:'login-content__selection__space__sns__google' do
          = image_tag"google.svg",class:'login-content__selection__space__sns__google__icon'
          .login-content__selection__space__sns__google__text Googleでログイン
    .login-content__selection__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .loginfield
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス",class:'input'
        .loginfield2
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード",class:'input'
        .actions
          = f.submit "ログイン",class:'login-content__selection__form__submit'
        .login-content__selection__form__notice パスワードをお忘れの方
      -# = render "devise/shared/links"
= render 'shared/monofooter'
