= render 'shared/monoheader'
.mono-content
  .mono-content__selection
    .mono-content__selection__head 新規会員登録
    .mono-content__selection__space
      .mono-content__selection__space__content
        = link_to new_user_registration_path, data: {"turbolinks" => false},class:'mono-content__selection__space__content__mail' do
          = fa_icon "envelope-o",class:'mono-content__selection__space__content__mail__icon'
          .mono-content__selection__space__content__mail__text メールアドレスで登録する
        = link_to user_facebook_omniauth_authorize_path, method: :post,class:'mono-content__selection__space__content__facebook' do
          = fa_icon "facebook-square",class:'mono-content__selection__space__content__facebook__icon'
          .mono-content__selection__space__content__facebook__text Facebookで登録する
        = link_to user_google_oauth2_omniauth_authorize_path, method: :post,class:'mono-content__selection__space__content__google' do
          = image_tag"google.svg",class:'mono-content__selection__space__content__google__icon'
          .mono-content__selection__space__content__google__text Googleで登録する
= render 'shared/monofooter'