.newcredit-content
  .newcredit-content__mono-header
    = link_to root_path do
      =image_tag"logo.svg",class: 'newcredit-content__mono-header__logo'
  .newcredit-content__mono-header__situation
    .newcredit-content__mono-header__situation__bar
      .newcredit-content__mono-header__situation__bar__info 
        .newcredit-content__mono-header__situation__bar__info__text 会員情報
        .newcredit-content__mono-header__situation__bar__info__dot
        .newcredit-content__mono-header__situation__bar__info__line
      .newcredit-content__mono-header__situation__bar__tel
        .newcredit-content__mono-header__situation__bar__tel__text 電話番号認証
        .newcredit-content__mono-header__situation__bar__tel__dot
        .newcredit-content__mono-header__situation__bar__tel__line
      .newcredit-content__mono-header__situation__bar__address
        .newcredit-content__mono-header__situation__bar__address__text お届け先住所入力
        .newcredit-content__mono-header__situation__bar__address__dot
        .newcredit-content__mono-header__situation__bar__address__line
      .newcredit-content__mono-header__situation__bar__pay
        .newcredit-content__mono-header__situation__bar__pay__text 支払い方法
        .newcredit-content__mono-header__situation__bar__pay__dot
        .newcredit-content__mono-header__situation__bar__pay__line
      .newcredit-content__mono-header__situation__bar__finished 
        .newcredit-content__mono-header__situation__bar__finished__text 完了
        .newcredit-content__mono-header__situation__bar__finished__dot
        .newcredit-content__mono-header__situation__bar__finished__line
  .newinfo-content__mono-content
    .newinfo-content__mono-content__head お支払い方法
    .newinfo-content__mono-content__space
      = form_for @users do |f|
        .field
          = f.label :phone do
            カード番号
            %span.required-icon
              必須
          = f.text_field :phone, autofocus: true, autocomplete: "phone", placeholder: "半角数字のみ",class:'input'
        .field-second
          .credit-icon
          %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2561606804", :width => "49"}
          %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2561606804", :width => "34"}
          %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?2561606804", :width => "30"}
          %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2561606804", :width => "32"}/
          %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?2561606804", :width => "21"}
          %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2561606804", :width => "32"}
          %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?2561606804", :width => "32"}
        .field-first
          = f.label :phone do
            有効期限
            %span.required-icon
              必須
            %br
          = f.select :email,options_for_select(@month),{ prompt: "01"},{class:'timeinput'}
          %span  月
        .field-first
          = f.select :email,options_for_select(20..29),{ prompt: "19"},{class:'timeinput'}
          %span  年
        .field
          = f.label :phone do
            セキュリティコード
            %span.required-icon
              必須
          = f.text_field :phone, autofocus: true, autocomplete: "phone", placeholder: "カード背面4桁もしくは3桁の番号",class:'input'
        .credit-notice
          = fa_icon "question-circle"
          カード裏面の番号とは？
        .addressnext
          = link_to complete_users_path,class:'next' do
            = f.submit "次に進む",class:'next-btn'

= render 'shared/afooter'