= render 'shared/header'

- breadcrumb :logout
%nav.bread-crumbs
  %ul
    %li
      = breadcrumbs separator: " #{content_tag(:i, '', class: 'fa fa-angle-right')} "

.mypage-clearfix
  .mypage
    
    = render 'shared/side-bar'
              
    .logout__main
      .logout__main__btn
        = link_to destroy_user_session_path,method: :delete, class: "logout__main__btn__text" do
          ログアウト
        
= render 'shared/aside'
= render 'shared/footer'