= render 'shared/header'

- breadcrumb :trading_items
%nav.bread-crumbs
  %ul
    %li
      = breadcrumbs separator: " #{content_tag(:i, '', class: 'fa fa-angle-right')} "

.mypage-clearfix
  .mypage

    = render 'shared/side-bar'

    .exhibit-item
      .exhibit-item__container
        .exhibit-item__head
          出品した商品
        %ul.exhibit-item__tab
          %li
            = link_to display_items_mypages_path, class: "exhibit-item__tab__link" do
              出品中
          %li.active
            = link_to trading_items_mypages_path, class: "exhibit-item__tab__link" do
              取引中
          %li
            = link_to finished_items_mypages_path, class: "exhibit-item__tab__link" do
              売却済み
        - if @trading_items.nil?
          .mypage__main__item__tab__content
            %ul
              %li.shows
                .mypage__main__item__tab__content__logo
                  取引中の商品がありません
        - else
          - @trading_items.each do |trading_item|
            = link_to display_item_path(trading_item.display_item_id) do
              .exhibit-item__tab-content
                %ul.exhibit-item__tab-content__lists
                  %li.exhibit-item__tab-content__lists__link
                    %figure
                      = image_tag trading_item.display_item.images[0].image.url, size: "48x48", class: "exhibit-item__tab-content__lists__img"
                    .exhibit-item__tab-content__lists__text
                      .exhibit-item__tab-content__lists__text__name
                        = trading_item.display_item.name
                      .exhibit-item__tab-content__lists__icons
                        %span.exhibit-item__tab-content__lists__icons__clearfix
                          =fa_icon "heart-o",class: 'exhibit-item__tab-content__lists__icons__like'
                          %span
                            0
                        %span.exhibit-item__tab-content__lists__icons__clearfix
                          =fa_icon "comment",class: 'exhibit-item__tab-content__lists__icons__comment'
                          %span
                            0
                        .exhibit-item__tab-content__lists__icons__status-trading
                          取引中
                        = fa_icon "angle-right", class: "exhibit-item__tab-content__lists__icons__right"





= render 'shared/sell-icon'
= render 'shared/aside'
= render 'shared/footer'