.contenth
  .l-profile
    .profile-head
      %p本人情報の登録
    .profile-form
      .text
        %p お客さまの本人情報をご登録ください。
        %p 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
      .profile-form__text-link
        = link_to "#",class:"profile-form__text-link__right" do
          本人確認書類のアップロードについて
          =fa_icon "chevron-right",class: '.profile-form__text-link__right__icon'
      .profile-form__group
        %p1お名前
        %p.p= "#{@profile.family_name + @profile.last_name}"
      .profile-form__group 
        %p1お名前カナ
        %p="#{@profile.family_name_kana + @profile.last_name_kana}"
      .profile-form__group  
        %p1生年月日
        %p="#{@profile.birth_year.to_s+"/" + @profile.birth_month.to_s+ "/" + @profile.birth_day.to_s}"
      = form_for @address do |f|
        .profile-form__group
          = f.label :postal_code,"郵便番号"
          %span.any-icon
            任意
          = f.text_field :postal_code,placeholedr:"例）1234567",class:'profile-form__group__input-text'
        .profile-form__group
          = f.label :postal_code,"都道府県"
          %span.any-icon
            任意
          = f.select:prefecture_id


        .profile-form__group
          = f.label :postal_code,"市区町村"
          %span.any-icon
            任意

        .profile-form__group
          = f.label :postal_code,"番地"
          %span.any-icon
            任意

        .profile-form__group
          = f.label :postal_code,"建物名"
          %span.any-icon
            任意

