.exhibit
  .exhibit__header
    .exhibit__header__logo
      = link_to root_path do
        = image_tag "exhibit_logo.svg"

  = form_for @trading_item ,url: buy_credit_cards_path do |f|
    = f.hidden_field :display_item_id, value: @display_item.id
    = f.hidden_field :user_id, value: current_user.id
    %input{:name => "payjp-token", :type => "hidden", :value => "tok_...."}/
    .exhibit__main
      .exhibit__main__box
        %h2.exhibit__main__box__title
          購入内容の確認
      .content
        .content__inner__top
          =image_tag @display_item.images[0].image.url ,class:'display_item_image'
          %span.word 
            = @display_item.name
            
        .content__inner
          .content__inner__price
            %p5
              = "¥" + @display_item.price.to_s(:delimited)
            %span.item-shipping-fee 送料込み
          .content__inner
            .content__inner__point
              ポイントはありません
          .pay
            .pay__payment
              支払い金額
            .pay__payment__right 
              %span.price
              =  "¥" + @display_item.price.to_s(:delimited)
          .error
            配送先と支払い方法の入力を完了てください。
          .content__inner
            = f.submit({value: "購入する", class: "payment-btn"})


    .content
      .content__inner
        %h3.content__inner__text
        配送先
        %address
          = "〒-" + current_user.address.postal_code.to_s
        %p
          = current_user.address.prefecture.name
          = current_user.address.city
          = current_user.address.block
          = current_user.address.building
        %p
          = current_user.family_name
          = current_user.given_name
        = link_to edit_address_path, class: "change" do
          変更する
          =fa_icon "chevron-right"
    .content
      .content__inner
        %h3.content__inner__text
        支払い方法
        %br /
        = link_to new_credit_card_path, class: "change" do
          変更する
          =fa_icon "chevron-right"

  .exhibit__footer
    .exhibit__footer__navi
      %ul.exhibit__footer__navi__list
        %li
          = link_to "#", class: "exhibit__footer__navi__list__ele" do
            プライバシーポリシー
        %li
          = link_to "#", class: "exhibit__footer__navi__list__ele" do
            メルカリ利用規約
        %li
          = link_to "#", class: "exhibit__footer__navi__list__ele" do
            特定商取引に関する表記
    .exhibit__footer__logo
      = link_to root_path do
        = image_tag "exhibit_logo_gray.svg"

    .exhibit__footer__copylight
      %p.exhibit__footer__copylight__text
        © 2019 Mercari