= render 'shared/header'
= render 'shared/flash'
.main-content
  .slider
    .slide1
      =image_tag "slide-1.png",class:'image-1'
    .slide2
      .slide2-content
        .slide2-content__text
          .slide2-content__text__text1 スマホで かんたん
          .slide2-content__text__text2 フリマアプリ
          .slide2-content__text__text3 メルカリはスマホカメラからすぐに出品できる
          .slide2-content__text__text4 購入時も安心な独自システムのアプリです
          .slide2-content__text__app
            =image_tag"app-store.svg",class: 'slide2-content__text__app__apple'
            =image_tag"google-play.svg",class: 'slide2-content__text__app__google'
        =image_tag "slidephone.png",class:'image-4'

  .main-content__itemslist
    .main-content__itemslist__text
      人気のカテゴリー
    %ul.main-content__itemslist__text__categories
      %li.main-content__itemslist__text__categories__list
        レディース
      %li.main-content__itemslist__text__categories__list
        メンズ
      %li.main-content__itemslist__text__categories__list
        家電・スマホ・カメラ
      %li.main-content__itemslist__text__categories__list
        おもちゃ・ホビー・グッズ

    .main-content__itemslist__tagspace
      .main-content__itemslist__tagspace__tag
        -# .main-content__itemslist__tagspace__tag__1 エンジニア
        -# .main-content__itemslist__tagspace__tag__2 人
        -# .main-content__itemslist__tagspace__tag__3 Ruby
        -# .main-content__itemslist__tagspace__tag__4 JS

  -# カテゴリを複数表示
  = render "shared/categories"

= render 'shared/sell-icon'
= render 'shared/aside'
= render 'shared/footer'

