= render 'shared/header'

.item


  .item__title
    = @display_item.name


  .item__content.clearfix
    .item__content__photo
    %table.item__content__table
      %tbody.item__content__table__tbody

        %tr.item__content__table__tr
          %th.item__content__table__th
            出品者
          %td.item__content__table__td
            = link_to "#" do
              = @display_item.user.email
            .item__content__table__box
              .item__content__table__box__icon
                = fa_icon "smile-o", class: "nice-icon red"
                %span.item__content__table__box__value
                  99
              .item__content__table__box__icon
                = fa_icon "meh-o", class: "nice-icon yellow"
                %span.item__content__table__box__value
                  99
              .item__content__table__box__icon
                = fa_icon "frown-o", class: "nice-icon blue"
                %span.item__content__table__box__value
                  99

        %tr.item__content__table__tr
          %th.item__content__table__th
            カテゴリー
          %td.item__content__table__td
            .icon_box
              = link_to "#", class: "item__content__table__td__link" do
                %span
                  - if @category_lv3.nil?
                    = @category_lv2.name
                  - else
                    = @category_lv3.name
            .icon_box
              = link_to "#", class: "item__content__table__td__link" do
                = fa_icon "chevron-right"
                %span
                  - if @category_lv3.nil?
                    = @category_lv1.name
                  - else
                    = @category_lv2.name
            - unless @category_lv3.nil?
              .icon_box
                = link_to "#", class: "item__content__table__td__link" do
                  = fa_icon "chevron-right"
                  %span
                    = @category_lv1.name

        %tr.item__content__table__tr
          %th.item__content__table__th
            ブランド
          %td.item__content__table__td
            - unless @display_item.brand_id.nil? 
              = @display_item.brand.name

        %tr.item__content__table__tr
          %th.item__content__table__th
            商品のサイズ
          %td.item__content__table__td
            - unless @display_item.size_id.nil? 
              =  @display_item.size.size

        %tr.item__content__table__tr
          %th.item__content__table__th
            商品の状態
          %td.item__content__table__td
            = @display_item.condition.name

        %tr.item__content__table__tr
          %th.item__content__table__th
            配送料の負担
          %td.item__content__table__td
            = @display_item.delivery_fee_burden.name

        %tr.item__content__table__tr
          %th.item__content__table__th
            配送の方法
          %td.item__content__table__td
            = @display_item.delivery_method.name

        %tr.item__content__table__tr
          %th.item__content__table__th
            配送元地域
          %td.item__content__table__td
            = link_to "#", class: "item__content__table__td__link" do
              = @display_item.prefecture.name

        %tr.item__content__table__tr
          %th.item__content__table__th
            配送日の目安
          %td.item__content__table__td
            = @display_item.delivery_by_day.name


  .item__fee
    %span.item__fee__price
      = "¥" + @display_item.price.to_s(:delimited)
    %span.item__fee__tax (税込)
    %span.item__fee__option 送料込み


  .item__btn
    - if @display_item
      = link_to "#", class: "item__btn__possible" do
        購入画面に進む


  .item__description
    %p.item__description__text
      = @display_item.description


  .item__footer.clearfix
    .item__footer__left
      %span.item__footer__left__like
        = fa_icon "heart-o", class: "like-icon"
        %span.item__footer__left__like__text
          いいね!
        %spna.item__footer__left__like__count
          100
      = link_to "#", class: "item__footer__left__report" do
        = fa_icon "flag-o", class: "report-icon"
        %span.item__footer__left__report__text
          不適切な商品の報告

    .item__footer__right
      = link_to "#", class: "item__footer__right__safe" do
        = fa_icon "lock", class: "lock-icon"
        %span.item__footer__right__safe__text
          あんしん・あんぜんへの取り組み








= render 'shared/aside'
= render 'shared/footer'
