- content_for(:body_attributes) do
  data-turbolinks="false"
.newphone-content
  .newphone-content__mono-header
    = link_to root_path do
      =image_tag"logo.svg",class: 'newphone-content__mono-header__logo'
    .newphone-content__mono-header__situation
      .newphone-content__mono-header__situation__bar
        .newphone-content__mono-header__situation__bar__info 
          .newphone-content__mono-header__situation__bar__info__text 会員情報
          .newphone-content__mono-header__situation__bar__info__dot
          .newphone-content__mono-header__situation__bar__info__line
        .newphone-content__mono-header__situation__bar__tel
          .newphone-content__mono-header__situation__bar__tel__text 電話番号認証
          .newphone-content__mono-header__situation__bar__tel__dot
          .newphone-content__mono-header__situation__bar__tel__line
        .newphone-content__mono-header__situation__bar__address
          .newphone-content__mono-header__situation__bar__address__text お届け先住所入力
          .newphone-content__mono-header__situation__bar__address__dot
          .newphone-content__mono-header__situation__bar__address__line
        .newphone-content__mono-header__situation__bar__pay
          .newphone-content__mono-header__situation__bar__pay__text 支払い方法
          .newphone-content__mono-header__situation__bar__pay__dot
          .newphone-content__mono-header__situation__bar__pay__line
        .newphone-content__mono-header__situation__bar__finished 
          .newphone-content__mono-header__situation__bar__finished__text 完了
          .newphone-content__mono-header__situation__bar__finished__dot
          .newphone-content__mono-header__situation__bar__finished__line
  .newphone-content__mono-content
    .newphone-content__mono-content__head 電話番号の確認
    .newphone-content__mono-content__space
      .newphone-content__mono-content__form
        = form_for @user, html: { id: :phone_form } do |f|
          .field
            = f.label :phone do
              携帯電話の番号
            %br/
            =f.text_field :phone,placeholder: "携帯電話の番号を入力",id:'textfield',class:'validate[required,custom[phone]] text-input'
          .field
            .notice-text 本人確認のため、携帯番号のsms（ショートメッセージサービス）を利用して認証を行います。
          .next
            = f.submit "smsを送信する",class:'next-btn'
          .field
            .notice-text ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
      .newphone-content__mono-content__space__notice 電話番号の確認が必要な理由＞
= render 'shared/afooter'

-# = link_to new_address_users_path,class:'next' do